/*
 * Author: Alice Cheng
 * CS 132 Spring 2023
 * CSS for the e-commerce website Thrift City.
 */

@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400&display=swap');

body, .crumb {
  background: #88A0A8;
}

body, button, textarea {
  font-family: Vollkorn, sans-serif;
}

body {
  background-size: cover;
  min-height: 100vh;
}

body, main>div, #product-info {
  display: flex;
  flex-direction: column;
}

#hidden-photos, aside, main, .button, #alice-photos, main>div, header, #product-info {
  align-items: center;
}

main, .button, #profile, #sales, #sales-home, #single-prod, header, #cart, .crumb {
  display: flex;
  flex-direction: row;
}

#sales, #sales-home, #single-prod, #cart {
  justify-content: space-evenly;
}

#sales, #cart {
  flex-wrap: wrap;
}

div:not(.crumb div), #thanks, #error, header, body > header, footer, nav {
  width: 100%;
}

#sales img, #single-prod img, #sales-home img, #cart img {
  width: 270px;
  height: 270px;
}

p {
  font-size: 20pt;
  background-color: #546A76;
}

.img, h2, footer, figure, figcaption, .crumb a, button, #cart-banner, p {
  text-align: center;
}

h1, h2 {
  padding-left: 20px;
  padding-right: 20px;
}

img:not(#front-page):hover, button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.crumb a, .dropdown {
  float: left;
}

body > header, footer {
  background-color: #EDAF97;
}

/* section:not(#profile) {
  padding: 40px;
} */

figure {
  margin: auto auto;
  padding: 30px;
  background-color: #0B394840;
  /* background-color: rgba(177,162,150,0.2); */
}

figcaption, #question {
  font-weight: bold;
}

aside, button {
  background-color: rgba(255,255,255,0.2);
}

section header, h1, p {
  padding: 15px;
}

body > header, footer {
  line-height: 50px;
}

footer, h1, #answer {
  font-style: italic;
}

nav {
  border-bottom: 1px solid black;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Style the links inside the navigation bar */
.crumb a {
  color: #f2f2f2;
  font-size: 17px;
}

.crumb a, .dropdown .dropbtn {
  padding: 14px 16px;
}

.crumb a, .dropdown-content a {
  text-decoration: none;
}

a:hover {
  background-color: #ddd;
}

.crumb a:hover, .dropdown-content a {
  color: black;
}

.dropdown .dropbtn {
  color: white;
}

/* The dropdown container */
.dropdown {
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  padding: 12px 16px;
}

.dropdown-content a, ul {
  text-align: left;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content, .dropdown-content a  {
  display: block;
}

button {
  font-size: 12pt;
  padding: 8px;
  border: 2pt solid black;
  width: fit-content;
}

.button, #profile, header, #single-prod {
  justify-content: center;
}

.dropdown-content, .hidden {
  display: none;
}

.crumb, main>div, #promo-banner {
  background-color: #C49792;
}

h1 {
  display: flex;
}

.crumb, h1, body>header, #product-info {
  justify-content: space-between;
}

#front-page {
  padding: 0px;
}

#sales-home {
  margin-bottom: 40px;
}

#sales-home p, #sales p {
  font-size: 15px;
}

#sales-banner {
  background-color: #88A0A8;
}

#sales section, #cart section {
  margin: 5px;
}

#product-info {
  background-color: #52324990;
}

footer {
  margin-top: auto;
}

main {
  flex-grow: 1;
}

#single-prod {
  margin-top: 100px;
}

#faq-ul {
  list-style-type: none;
}

body, .crumb, p, nav, #front-page {
  margin: 0px;
}